@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Destiny Community Center</h1>
    <p class="lead"></p>
    <p>@Html.ActionLink("Learn More", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-success" })</p>
</div>

<div class="container col-md-12">
    <div class="row">
        <div class="section col-md-4">
            <h3>Responsive Text Area</h3>
            <p>
                Ah. Are you coming down into the pit? Wesley's got his strength back. I'm starting him on the machine tonight. Tyrone, you know how much I love watching you work, but I've got my country's 500th anniversary to plan, my wedding to arrange, my wife to murder and Guilder to frame for it; I'm swamped. Get some rest. If you haven't got your health, then you haven't got anything. It was ten days to the wedding. The King still lived, but Buttercup's nightmares were growing steadily worse. See, didn't I tell you she'd never marry that rotten Humperdinck? Yes, you're very smart. Shut up. You're trying to trick me into giving away something. It won't work. IT HAS WORKED! YOU'VE GIVEN EVERYTHING AWAY! I KNOW WHERE THE POISON IS! Then make your choice.
            </p>
        </div>
        <div class="section col-md-4">
            <h3>Responsive Text Area</h3>
            <p>
                You got any money? Sixty-five. I've never worked for so little. Except once, and that was a very noble cause. You must be that little Spanish brat I taught a lesson to all those years ago. You've been chasing me your whole life only to fail now? I think that's about the worst thing I've ever heard. How marvelous. You have a great gift for rhyme. Yes, yes, some of the time.
            </p>
        </div>
        <div class="section col-md-4">
            <h3>Responsive Text Area</h3>
            <p>
                A book? That's right. When I was your age, television was called books. And this is a special book. It was the book my father used to read to me when I was sick, and I used to read it to your father. And today I'm gonna read it to you. You only think I guessed wrong! That's what's so funny! I switched glasses when your back was turned! Ha ha! You fool! You fell victim to one of the classic blunders - the most famous of which is 'never get involved in a land war in Asia' - but only slightly less well-known is this: 'Never go in against a Sicilian when death is on the line'! Ha ha ha ha ha ha ha! Ha ha ha ha ha ha ha! Ha ha ha... He's right on top of us. I wonder if he is using the same wind we are using.
            </p>
        </div>
        <div class="section col-md-4">
            <h3>Responsive Text Area</h3>
            <p>
                I do not mean to pry, but you don't by any chance happen to have six fingers on your right hand? Do you always begin conversations this way? You are wonderful. Thank you; I've worked hard to become so. I admit it, you are better than I am. Then why are you smiling? Because I know something you don't know. And what is that? I am not left-handed. You only think I guessed wrong! That's what's so funny! I switched glasses when your back was turned! Ha ha! You fool! You fell victim to one of the classic blunders - the most famous of which is 'never get involved in a land war in Asia' - but only slightly less well-known is this: 'Never go in against a Sicilian when death is on the line'! Ha ha ha ha ha ha ha! Ha ha ha ha ha ha ha! Ha ha ha...
            </p>
        </div>
        <div class="section col-md-4">
            <h3>Responsive Text Area</h3>
            <p>
                I do not envy you the headache you will have when you awake. But for now, rest well and dream of large women. Grandpa, maybe you could come over and read it again to me tomorrow. As you wish. A book? That's right. When I was your age, television was called books. And this is a special book. It was the book my father used to read to me when I was sick, and I used to read it to your father. And today I'm gonna read it to you.
            </p>
        </div>
    </div>
</div>